doctype html 
html
    head
        title DruvMe app
        link(rel='stylesheet' href = '/css/style.css' )
        link(rel='logo' type='img/jpeg' href = 'logo.jpeg' )
    body

        // Header
        include _header

        // Content
        block content

        //Footer
        include _footer

        script(src= '/js/bundle.js')
    //- <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    //- script(src='/js/login.js')
        //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')